<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketNow</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>
    <div class="wrapper">
        <header>
            <div class="row">
                <h1 class="logo">
                    <a href="index.html">
                        <img src="assets/media/icons/logo.png" alt="logo">
                        <span>ticket</span><span class="red__text">now</span>
                    </a>
                </h1>
                <nav class="header__nav">
                    <a href="desks.html">Кассы</a>
                    <a href="news.html">Новости</a>
                    <a href="return.html">Возврат</a>
                    <a href="organizers.html">Организаторам</a>
                </nav>
                <address>
                    <a href="tel: +7 (967) 771-01-01">+7 (967) 771-01-01</a>
                    <a href="mailto: support@ticketnow.ru">support@ticketnow.ru</a>
                </address>
            </div>
            <nav class="dop__nav">
                <a href="type-activity.html">Концерты</a>
                <a href="type-activity.html">Спектакли</a>
                <a href="type-activity.html">Шоу</a>
                <a href="type-activity.html">Музеи</a>
            </nav>
        </header>
        <main>
            <section class="return__sec">
                <div class="container">
                    <h2 class="title__def">ПРАВИЛА ВОЗВРАТА ДЕНЕЖНЫХ СРЕДСТВ ЗА НЕИСПОЛЬЗОВАННЫЕ БИЛЕТЫ (ЭЛЕКТРОННЫЕ
                        БИЛЕТЫ)</h2>
                    <p class="text__small">
                        1. Возврат денежных средств за билеты, приобретённые у Распространителя (далее – «ticketnow.RU»)
                        на сайте PNZ.ticketnow.RU или в Точках распространения города Пенза, осуществляется в порядке и
                        на условиях: <br><br>

                        Публичной Оферты, размещённой на Сайте Распространителя по адресу: PNZ.ticketnow.RU и в Точках
                        распространения;
                        Закона РФ от 07.02.1992 N 2300-1 «О защите прав потребителей»
                        Закона РФ от 09.10.1992 года № 3612-1 «Основы законодательства Российской Федерации о культуре»;
                        Правил и условий возврата билетов, абонементов и экскурсионных путевок и переоформления на
                        других лиц именных билетов, именных абонементов и именных экскурсионных путевок на проводимые
                        организациями исполнительских искусств и музеями зрелищные мероприятия в случае отказа
                        посетителя от их посещения утвержденных постановлением Правительства РФ от 18 сентября 2020 г. N
                        1491;
                        Правил возврата Билетов, размещенных на Сайте Распространителя по адресу:
                        https://PNZ.ticketnow.RU/pages/refund (для посетителей, обращающихся за возвратом посредством
                        электронного обращения на почту info.vlg@ticketnow..ru);
                        В отношении мероприятий, отмененных и перенесенных в связи с введением режима повышенной
                        готовности в регионе, в порядке и на условиях предусмотренных Постановлением Правительства РФ от
                        03.04.2020 года № 442;
                        1.1 Все термины и определения, указанные в настоящих Правилах, имеют значения, аналогичные
                        значениям, установленным в Оферте.<br><br>

                        2. СООБЩАЕМ ВАМ, ЧТО УКАЗАННЫЕ НИЖЕ ПРАВИЛА ВОЗВРАТА БИЛЕТОВ И ДЕНЕЖНЫХ СРЕДСТВ ЗА
                        НЕИСПОЛЬЗОВАННЫЕ БИЛЕТЫ ДЕЙСТВИТЕЛЬНЫ ТОЛЬКО В ОТНОШЕНИИ ЗАЯВЛЕНИЙ, ПОДАННЫХ ПОСЕТИТЕЛЯМИ
                        ПОСЛЕДСТВОМ ЭЛЕКТРОННОГО ОБРАЩЕНИЯ НА ЭЛЕКТРОННЫЙ АДРЕС KASSIR.RU: info.vlg@ticketnow.ru<br><br>

                        2.1 Заявления на возврат, поданные посетителями лично, либо направленные Почтой России в адрес
                        ticketnow.RU, рассматриваются в соответствии с требованиями, установленными Постановлением
                        Правительства РФ от 18.09.2020 № 1491, а в отношении билетов на спортивные мероприятия - в
                        соответствии с положениями Закона РФ от 07.02.1992 N 2300-1 «О защите прав потребителей»<br><br>

                        2.2 Настоящие правила возврата билетов являются неотъемлемой частью публичной Оферты,
                        размещённой на Сайте KASSIR.RU по адресу https://PNZ.ticketnow.RU/pages/refund и в Точках
                        распространения.<br><br><br><br>



                        3. В случае отказа Посетителя от посещения Мероприятия по причинам, не связанным с болезнью
                        Посетителя или со смертью лица, являвшегося членом его семьи или его близким родственником в
                        соответствии с Семейным кодексом Российской Федерации, Посетитель вправе обратиться с заявлением
                        о возврате билета, и возмещении денежных средств за неиспользованный билет, содержащим в том
                        числе согласие на обработку персональных данных посетителя (далее - Заявление о возврате).<br><br><br><br>



                        4. Для возврата Билетов (Электронных Билетов) и возмещения денежных средств за неиспользованный
                        билет (электронный билет), Посетитель должен направить на адрес электронной почты
                        info.vlg@ticketnow.ru пакет следующих документов:<br><br>

                        Заявление на возврат денежных средств(скан/фото подписанного заявления, Заявление в формате
                        PDF);
                        Скан-копия Билета (Электронного билета);
                        Скан-копия кассового чека (копия электронного кассового чека);
                        4.1. Для возврата Билетов, приобретенных в Точках распространения (не Электронные билеты),
                        Посетитель вместе с направлением на электронную почту комплекта документов, указанных в
                        предыдущем пункте, обязан направить в адрес ticketnow.RU оригинал неиспользованного бланка
                        билета и кассового чека, либо передать оригинал неиспользованного бланка билета и кассового чека
                        в Точку распространения ticketnow.RU.<br><br>

                        Датой подачи заявления Посетителем в таком случае будет являться дата получения ticketnow.RU
                        оригиналов документов (бланк билета, кассовый чек).<br><br>

                        KASSIR.RU вправе не запрашивать у Посетителя оригинал Билета (чека), приобретенного в Точке
                        распространения, и рассмотреть заявление в отсутствие оригинала такого Билета (чека),
                        руководствуясь только направленными на электронную почту скан-копиями.<br><br><br><br>



                        5. К заявлению о возврате дополнительно необходимо приложить следующие документы:<br><br>

                        В связи с болезнью посетителя: скан/фото листка нетрудоспособности/справки из медицинской
                        организации, подтверждающая факт заболевания Посетителя, препятствующее посещению им
                        мероприятия;
                        В связи со смертью члена семьи/близкого родственника посетителя: скан/фото свидетельства о
                        смерти лица, являвшегося членом семьи/близким родственником посетителя и скан/фото документов,
                        подтверждающих, что умершее лицо являлось членом семьи/близким родственником Посетителя.
                        5.1 Документы подтверждающие обстоятельства могут быть предоставлены в течение 14 (четырнадцати)
                        календарных дней с даты проведения Мероприятия при условии подачи заявления к ticketnow.RU не
                        позднее дня проведения Мероприятия.<br><br><br><br>



                        6. В случае если оплата проводилась через систему Apple Pay либо Google Pay в Заявлении на
                        возврат денежных средств необходимо дополнительно указать последние 4 цифры устройства. В случае
                        оплаты с помощью Системы быстрых платежей (по QR-коду) необходимо указать номер телефона, с
                        которого производилась оплата и наименование банка. В отсутствие указанных данных возврат
                        денежных средств невозможен по техническим причинам.<br><br><br><br>



                        7. В случае если, заявление о возврате заполнено не надлежащим образом (заполнено не полностью,
                        не подписано заявителем и т.д.) и/или к заявлению не приложены необходимые документы (или
                        приложены не в полном объеме), KASSIR.RU вправе не приступать к рассмотрению такого заявление до
                        момента предоставления надлежащим образом заполненного заявления/недостающих документов. В таком
                        случае днем приема заявления будет считаться день поступления (с учтем нижеуказанных правил)
                        последнего документа (заявления).<br><br><br><br>



                        8. Сроки рассмотрения заявлений о возврате денежных средств.<br><br>

                        8.1. Днем приема заявления, поданного посредством направления Заявления на возврат денежных
                        средств и необходимого пакета документов на электронный адрес info.vlg@kassir.ru, считается дата
                        направления необходимого пакета документов на электронный адрес ticketnow.RU, указанный в пункте
                        4.<br><br>

                        8.2. Сроки для рассмотрения Заявлений на возврат денежных средств и принятия решений начинают
                        исчисляться со дня, следующего за днем получения обращения Посетителя.<br><br>

                        8.3. Днем приема заявления, поданного в нерабочий/выходной день, считается следующий рабочий
                        день.<br><br>

                        8.4. Днем приема заявления, поданного после окончания рабочего дня, считается следующий за ним
                        рабочий день.<br><br>

                        8.5. Если последним днем срока для принятия решения/уведомления посетителя является
                        нерабочий/выходной день, решение может быть принято/Посетитель может быть уведомлен на следующий
                        рабочий день.<br><br>

                        8.6. Заявление о возврате в связи с отказом Посетителя от посещения мероприятия рассматривается
                        в срок, не превышающий 10 (десяти) дней со дня приема заявления.<br><br>

                        8.7. Заявление о возврате в связи с болезнью Посетителя рассматривается в течение 10 дней со дня
                        поступления медицинских документов. В случае необходимости указанный срок рассмотрения может
                        быть увеличен до 30 дней.<br><br>

                        8.8. Заявление о возврате в связи со смертью родственника рассматривается в течение 10 дней со
                        дня поступления всех документов. В случае необходимости указанный срок рассмотрения может быть
                        увеличен до 20 дней.<br><br><br><br>



                        9. До истечения срока рассмотрения Заявления на возврат
                        Распространителем/Организатором/Заказчиком принимается одно из следующих решений:<br><br>

                        об отказе в возврате посетителю денежных средств за приобретенные билеты;
                        о возврате посетителю денежных средств в размере номинальной стоимости билетов.
                        9.1. В случае, если Распространителем /Организатором/ Заказчиком принято решение об отказе в
                        возврате денежных средств, посетителю не позднее 5 дней с даты принятия такого решения
                        сообщается в ответном электронном письме с указанием причины отказа.<br><br>

                        9.2. О принятом решении о возврате денежных средств посетителю сообщается не позднее 3 дней со
                        дня принятия такого решения по электронной почте и/или посредством телефонной связи.<br><br>

                        9.3. Возврат денежных средств посетителю осуществляется в течение 10 дней со дня принятия
                        решения о возврате денежных средств.<br><br>

                        9.4. В случае, если действуют специальные нормативно-правовые акты, устанавливающие иные сроки
                        возврата денежных средств посетителям, возврат осуществляется в соответствии с такими
                        нормативно-правовыми актами (в частности, в отношении мероприятий, отмененных и перенесенных в
                        связи с введением режима повышенной готовности в регионе, возврат денежных средств
                        регламентируется Постановлением Правительства РФ от 03.04.2020 года № 442 (в редакциях).<br><br>

                        9.5. Денежные средства возвращаются на счет, с которого был оплачен Электронный Билет, либо
                        перечисляются по реквизитам, указанным в Заявлении на возврат денежных средств.<br><br>

                        9.6. Возврат денежных средств за Билеты (БСО), производится только на банковскую карту при
                        наличии полных реквизитов для перечисления денежных средств в Заявлении на возврат.<br><br><br><br>



                        10. В КАКОЙ СУММЕ ВОЗВРАЩАЮТСЯ ДЕНЕЖНЫЕ СРЕДСТВА:<br><br>

                        10.1 Размер суммы к возврату определяется с учётом требований действующего законодательства.<br><br>

                        10.2. При осуществлении возврата денежных средств за билет, денежные средства возвращаются в
                        размере Номинальной стоимости билета (части номинальной стоимости билета в порядке, указанном в
                        следующем пункте).<br><br>

                        10.3. Какую сумму вернут за Билет, в случае отказа посетителя от посещения культурно-зрелищного
                        Мероприятия по его инициативе:<br><br>

                        в случае обращения не позднее чем за 10 (десять) дней до даты мероприятия – 100% от Номинальной
                        стоимости билета;
                        в случае обращения менее чем за 10 (десять) но не позднее чем за 5 (пять) дней до даты
                        мероприятия – 50% от Номинальной стоимости билета;
                        в случае обращения менее чем за 5 (пять) но не позднее чем за 3 (три) дня до даты мероприятия –
                        30% от Номинальной стоимости билета;
                        в случае обращения менее чем за 3 дня до даты мероприятия – денежные средства не возвращаются.
                        10.4. Дата подачи Заявления на возврат денежных средств Посетителем и дата проведения
                        Мероприятия не учитываются при исчислении сроков, указанных в предыдущем пункте настоящих
                        Правил.<br><br>

                        10.5. В случае, если действуют специальные нормативно-правовые акты, устанавливающие иные сроки
                        возврата денежных средств посетителям, возврат осуществляется в соответствии с такими
                        нормативно-правовыми актами (в частности, в отношении мероприятий, отмененных и перенесенных в
                        связи с введением режима повышенной готовности в регионе, возврат денежных средств
                        регламентируется Постановлением Правительства РФ от 03.04.2020 года № 442 (в редакциях).<br><br>

                        10.6. Какую сумму вернут за Билет, в случае отказа посетителя от посещения спортивного
                        Мероприятия:<br><br>

                        в случае обращения не позднее времени начала Мероприятия денежные средства возвращаются в
                        размере 100% номинальной стоимости билета, при этом Организатор Мероприятия вправе удержать с
                        покупателя сумму фактически понесенных им расходов, связанных с исполнением обязательств по
                        Договору по показу Мероприятия.
                        10.7. Билеты, приобретенные в рамках специальных программ и акций, в случае отказа Посетителя от
                        посещения Мероприятия по решению Организатора Мероприятия могут не приниматься к возврату.<br><br><br><br>



                        11. В случае принятия решения о возврате денежных средств в связи с документально подтвержденной
                        болезнью Посетителя возврат осуществляется в размере 100% от номинальной стоимости билетов.<br><br>

                        11.1. В возврате денежных средств может быть отказано если:<br><br>

                        заявление на возврат в связи с болезнью подано после даты проведения мероприятия;
                        медицинские документы, подтверждающие болезнь посетителя поданы позднее 14 (четырнадцати) дней с
                        даты проведения мероприятия;
                        представленные подтверждающие документы содержат недостоверную информацию;
                        билеты приобретены после возникновения у посетителя болезни, препятствующей посещению им
                        мероприятия.
                        12. В случае принятия решения о возврате денежных средств в связи со смертью члена
                        семьи/близкого родственника Посетителя, возврат осуществляется в размере 100% от номинальной
                        стоимости билетов.<br><br>

                        12.1. В возврате денежных средств может быть отказано если:<br><br>

                        заявление на возврат в связи с болезнью подано после даты проведения мероприятия;
                        документы, подтверждающие, что умершее лицо являлось членом семьи/близким родственником
                        посетителя, поданы позднее 14 (четырнадцати) дней с даты проведения мероприятия;
                        представленные документы содержат недостоверную информацию.
                        смерть члена семьи посетителя или его близкого родственника наступила ранее 14 дней до дня
                        проведения Мероприятия или позднее дня проведения Мероприятия;
                        смерть члена семьи посетителя или его близкого родственника наступила до даты приобретения
                        посетителем Билета.
                        13. Сервисный сбор не подлежит возврату, в случае надлежащего исполнения ticketnow.RU своих
                        обязательств по Договору оказания услуг (п. 3.1.2 Оферты) по бронированию, оформлению и
                        реализации Билетов и информационному сопровождению в связи с бронированием, оформлением и
                        реализацией Билетов.<br><br><br><br>



                        14. Внимание! Заявления на возврат, поданные Посетителями лично, либо направленные Почтой России
                        в адрес ticketnow.RU, рассматриваются в соответствии с требованиями, установленными
                        Постановлением Правительства РФ от 18.09.2020 № 1491, а также на основании специальных норм, в
                        том числе в соответствии с Постановлением Правительства РФ от 03.04.2020 года № 442 (в
                        редакциях).
                    </p>
                </div>
            </section>
            <section class="home_info__sec">
                <div class="container">
                    <div class="info__block">
                        <p class="text__def">В городе с большим количеством развлечений не соскучишься, о них вам
                            расскажет афиша Пензы, где собраны все культурные события. Здесь вы найдете описание всех
                            мероприятий: концертов, театральных и цирковых выступлений, шоу, фестивалей.</p>
                        <h2 class="title__small">Куда сходить в Пензе?</h2>
                        <div class="text__block">
                            <p class="text__def">Если вы не знаете, что сегодня делать, и ищете, куда бы пойти, то
                                заходите на сайт ticketnow.ru и выбирайте событие себе по душе. Афиша мероприятий в
                                Пензе содержит информацию обо всех развлечениях на этой неделе и следующих, поэтому вы
                                можете спланировать, к примеру, семейный поход в театр наперед. Билеты на сегодня, на
                                завтра и другие дни можно купить не выходя из дома, через интернет, цены на них такие
                                же, как и у официальных представителей.
                            </p>
                            <p class="text__def">Если вы определились, куда пойти в Пензе, то регистрируйтесь на сайте,
                                нажимайте кнопку «Купить билет» и оформляйте заявку. Процедура проста и не займет много
                                времени. Помимо стандартных способов оплаты, вы можете взять билет в рассрочку. Если
                                вдруг передумаете идти на мероприятие, которое уже оплачено, то возможен возврат билета.
                                Сумма, которая будет возвращена, зависит от количества дней до начала события.</p>
                        </div>
                        <h2 class="title__small">Почему выгодно покупать билеты на мероприятия на ticketnow.ru?</h2>
                        <div class="text__block">
                            <p class="text__def">На данном сайте представлена полная культурная афиша событий Пензы, что
                                позволяет быстро и удобно ознакомиться с ними. Среди основных преимуществ анонса
                                мероприятий: большое разнообразие развлечений, возможность купить билет через интернет,
                                простая система возврата.

                            </p>
                            <p class="text__def">Не упускайте возможность весело и интересно провести время и наполнить
                                свою жизнь позитивными эмоциями!</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <nav class="footer__nav">
                    <div class="column">
                        <a href="type-activity.html">Концерты</a>
                        <a href="type-activity.html">Спектакли</a>
                        <a href="type-activity.html">Шоу</a>
                        <a href="type-activity.html">Музеи</a>
                    </div>
                    <div class="column">
                        <a href="desks.html">Кассы</a>
                        <a href="news.html">Новости</a>
                        <a href="return.html">Возврат</a>
                        <a href="organizers.html">Организаторам</a>
                    </div>
                </nav>
            </div>
        </footer>
    </div>

    <script src="assets/js/main.js"></script>
</body>

</html>