<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-TicketNow</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">

</head>
<body>

    <div class="popup" data-popup-name="def">
        <div class="over"></div>
        <div class="popup__body">
            <div class="close__popup_btn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24.000000" height="24.000000" viewBox="0 0 24 24" fill="none">
                    <desc>
                            Created with Pixso.
                    </desc>
                    <defs>
                        <clipPath id="clip2_1430">
                            <rect id="close" width="24.000000" height="24.000000" fill="white" fill-opacity="0"/>
                        </clipPath>
                    </defs>
                    <rect id="close" width="24.000000" height="24.000000" fill="#FFFFFF" fill-opacity="0"/>
                    <g clip-path="url(#clip2_1430)">
                        <path id="Vector" d="M19.2 7.2L17 5L12.1 10L7.2 5L5 7.2L10 12.1L5 17L7.2 19.2L12.1 14.2L17 19.2L19.2 17L14.2 12.1L19.2 7.2Z" fill="#C4C4C4" fill-opacity="1.000000" fill-rule="evenodd"/>
                    </g>
                </svg>
            </div>
            <h2 class="title">Оркестр CAGMO: Саундтреки Эйнауди при свечах</h2>
            <p class="date">17 января, 19:00</p>
            <p class="place">Пензенская областная филармония</p>
            <nav class="popup__nav">
                <a href="scheme" class="active">Схема зала</a>
                <a href="tickets">билет</a>
            </nav>
            <div class="popup__switch_container">
                <div class="popup__switch_block" data-name="scheme">
                    <img src="assets/media/temp/shema.png" alt="">
                </div>
                <div class="popup__switch_block active" data-name="tickets">
                    <ul class="list__ticket">
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                        <li class="ticket__item">
                            <p class="ticket__title">Входной</p>
                            <p class="ticket__price">700 ₽</p>
                            <div class="ticket__counter">
                                <div class="counter__item dec dis"></div>
                                <div class="total__count">0</div>
                                <div class="counter__item inc"></div>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn__fill" id="bay__ticket_popup">Купить билет</button>
                </div>
            </div>
        </div>
        <div class="popup__body">
            
        </div>
    </div>
    
    <ul class="list">
        <li class="card__item" data-card-id="1">
            <div class="img__mask">
                <img src="assets/media/temp/jopa.jpg" alt="card-img">
                <svg width="0" height="0">
                    <defs>
                        <clipPath id="ticketMask" clipPathUnits="objectBoundingBox">
                        <path d="M1 0 L0 0 L0 0.273 C0 0.273 0.109 0.287 0.109 0.487 C0.109 0.686 0 0.709 0 0.709 L0 1 L1 1 L1 0.709 C1 0.709 0.887 0.689 0.887 0.487 C0.887 0.286 1 0.273 1 0.273 Z"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="main__content">
                <img src="assets/media/icons/dashed-line.svg" alt="dashed-line-img" class="dashed-line-img">
                <p class="card_top__title teg">концерт</p>
                <h2 class="card_title">Евгений Холмский</h2>
                <p class="card_place">Руки ВВерх! Бар Пенза</p>
                <ul class="date_time__block">
                    <li><img src="assets/media/icons/calendar.png" alt="calendar"><p class="date">11 января</p></li>
                    <li><img src="assets/media/icons/clock.png" alt="clock"><p class="time">18:00</p></li>
                </ul>
                <a href="#" class="btn btn__fill">Подробнее</a>
            </div>
        </li>        
        <li class="card__item" data-card-id="1">
            <div class="img__mask">
                <img src="assets/media/temp/jopa.jpg" alt="card-img">
                <svg width="0" height="0">
                    <defs>
                        <clipPath id="ticketMask" clipPathUnits="objectBoundingBox">
                        <path d="M1 0 L0 0 L0 0.273 C0 0.273 0.109 0.287 0.109 0.487 C0.109 0.686 0 0.709 0 0.709 L0 1 L1 1 L1 0.709 C1 0.709 0.887 0.689 0.887 0.487 C0.887 0.286 1 0.273 1 0.273 Z"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="main__content">
                <img src="assets/media/icons/dashed-line.svg" alt="dashed-line-img" class="dashed-line-img">
                <p class="card_top__title teg">концерт</p>
                <h2 class="card_title">Евгений Холмский</h2>
                <p class="card_place">Руки ВВерх! Бар Пенза</p>
                <ul class="date_time__block">
                    <li><img src="assets/media/icons/calendar.png" alt="calendar"><p class="date">11 января</p></li>
                    <li><img src="assets/media/icons/clock.png" alt="clock"><p class="time">18:00</p></li>
                </ul>
                <a href="#" class="btn btn__fill">Подробнее</a>
            </div>
        </li>        
        <li class="card__item" data-card-id="1">
            <div class="img__mask">
                <img src="assets/media/temp/jopa.jpg" alt="card-img">
                <svg width="0" height="0">
                    <defs>
                        <clipPath id="ticketMask" clipPathUnits="objectBoundingBox">
                        <path d="M1 0 L0 0 L0 0.273 C0 0.273 0.109 0.287 0.109 0.487 C0.109 0.686 0 0.709 0 0.709 L0 1 L1 1 L1 0.709 C1 0.709 0.887 0.689 0.887 0.487 C0.887 0.286 1 0.273 1 0.273 Z"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="main__content">
                <img src="assets/media/icons/dashed-line.svg" alt="dashed-line-img" class="dashed-line-img">
                <p class="card_top__title teg">концерт</p>
                <h2 class="card_title">Евгений Холмский</h2>
                <p class="card_place">Руки ВВерх! Бар Пенза</p>
                <ul class="date_time__block">
                    <li><img src="assets/media/icons/calendar.png" alt="calendar"><p class="date">11 января</p></li>
                    <li><img src="assets/media/icons/clock.png" alt="clock"><p class="time">18:00</p></li>
                </ul>
                <a href="#" class="btn btn__fill">Подробнее</a>
            </div>
        </li>        
        <li class="card__item" data-card-id="1">
            <div class="img__mask">
                <img src="assets/media/temp/jopa.jpg" alt="card-img">
                <svg width="0" height="0">
                    <defs>
                        <clipPath id="ticketMask" clipPathUnits="objectBoundingBox">
                        <path d="M1 0 L0 0 L0 0.273 C0 0.273 0.109 0.287 0.109 0.487 C0.109 0.686 0 0.709 0 0.709 L0 1 L1 1 L1 0.709 C1 0.709 0.887 0.689 0.887 0.487 C0.887 0.286 1 0.273 1 0.273 Z"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="main__content">
                <img src="assets/media/icons/dashed-line.svg" alt="dashed-line-img" class="dashed-line-img">
                <p class="card_top__title teg">концерт</p>
                <h2 class="card_title">Евгений Холмский</h2>
                <p class="card_place">Руки ВВерх! Бар Пенза</p>
                <ul class="date_time__block">
                    <li><img src="assets/media/icons/calendar.png" alt="calendar"><p class="date">11 января</p></li>
                    <li><img src="assets/media/icons/clock.png" alt="clock"><p class="time">18:00</p></li>
                </ul>
                <a href="#" class="btn btn__fill">Подробнее</a>
            </div>
        </li>
        <li class="card__item" data-card-id="1">
            <div class="img__mask">
                <img src="assets/media/temp/jopa.jpg" alt="card-img">
                <svg width="0" height="0">
                    <defs>
                        <clipPath id="ticketMask" clipPathUnits="objectBoundingBox">
                        <path d="M1 0 L0 0 L0 0.273 C0 0.273 0.109 0.287 0.109 0.487 C0.109 0.686 0 0.709 0 0.709 L0 1 L1 1 L1 0.709 C1 0.709 0.887 0.689 0.887 0.487 C0.887 0.286 1 0.273 1 0.273 Z"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="main__content">
                <img src="assets/media/icons/dashed-line.svg" alt="dashed-line-img" class="dashed-line-img">
                <p class="card_top__title teg">концерт</p>
                <h2 class="card_title">Евгений Холмский</h2>
                <p class="card_place">Руки ВВерх! Бар Пенза</p>
                <ul class="date_time__block">
                    <li><img src="assets/media/icons/calendar.png" alt="calendar"><p class="date">11 января</p></li>
                    <li><img src="assets/media/icons/clock.png" alt="clock"><p class="time">18:00</p></li>
                </ul>
                <a href="#" class="btn btn__fill">Подробнее</a>
            </div>
        </li>
    </ul>
    <a href="#" class="btn">Button teg a</a>
    <br>
    <a href="#" class="btn btn__fill" data-popup="def">Button fill teg a</a>
    <br>
    <button class="btn">Button teg button</button>
    <br>
    <button class="btn btn__fill">Button teg button</button>
    <br>
    <input class="btn" type="submit" value="Button teg input[type='submit']">
    <br><br>
    <div class="info__block">
        <p class="text__def">В городе с большим количеством развлечений не соскучишься, о них вам расскажет афиша Пензы, где собраны все культурные события. Здесь вы найдете описание всех мероприятий: концертов, театральных и цирковых выступлений, шоу, фестивалей.</p>
        <h2 class="title__small">Куда сходить в Пензе?</h2>
        <div class="text__block">
            <p class="text__def">Если вы не знаете, что сегодня делать, и ищете, куда бы пойти, то заходите на сайт ticketnow.ru и выбирайте событие себе по душе. Афиша мероприятий в Пензе содержит информацию обо всех развлечениях на этой неделе и следующих, поэтому вы можете спланировать, к примеру, семейный поход в театр наперед. Билеты на сегодня, на завтра и другие дни можно купить не выходя из дома, через интернет, цены на них такие же, как и у официальных представителей.
            </p>
            <p class="text__def">Если вы определились, куда пойти в Пензе, то регистрируйтесь на сайте, нажимайте кнопку «Купить билет» и оформляйте заявку. Процедура проста и не займет много времени. Помимо стандартных способов оплаты, вы можете взять билет в рассрочку. Если вдруг передумаете идти на мероприятие, которое уже оплачено, то возможен возврат билета. Сумма, которая будет возвращена, зависит от количества дней до начала события.</p>
        </div>
        <h2 class="title__small">Почему выгодно покупать билеты на мероприятия на ticketnow.ru?</h2>
        <div class="text__block">
            <p class="text__def">На данном сайте представлена полная культурная афиша событий Пензы, что позволяет быстро и удобно ознакомиться с ними. Среди основных преимуществ анонса мероприятий: большое разнообразие развлечений, возможность купить билет через интернет, простая система возврата.

            </p>
            <p class="text__def">Не упускайте возможность весело и интересно провести время и наполнить свою жизнь позитивными эмоциями!</p>
        </div>
    </div>
    <br><br>
    <ul class="list">
        <li class="info__block_spec">
            <h2 class="title__small">АВАТАР. СТИХИЯ ЛЬДА - ОТМЕНА</h2>
            <div class="text__block">
                <p class="text__def">Уважаемые зрители!</p>
                <p class="text__def">Ледовое шоу "Аватар. Стихия льда" запланированное к проведению на 6 января 2024 в 17:00 ОТМЕНЯЕТСЯ.</p>
            </div>
            <p class="text__small">Дата публикации: 13 декабря 2024</p>
        </li>
        <li class="info__block_spec">
            <h2 class="title__small">АННА КАРЕНИНА - ПЕРЕНОС</h2>
            <div class="text__block">
                <p class="text__def">Уважаемые зрители!</p>
                <p class="text__def">Спектакль "Анна Каренина", запланированный на 9 февраля 2025г. в 19:00 ПЕРЕНОСИТСЯ  на 8 февраля 2024 г. в 19:00.</p>
                <p class="text__def">Все ранее приобретенные билеты остаются действительными.</p>
            </div>
            <p class="text__small">Дата публикации: 9 декабря 2024</p>
        </li>
        <li class="info__block_spec">
            <h2 class="title__small">Перенос даты концерта группы "Непара"</h2>
            <div class="text__block">
                <p class="text__def">Уважаемые зрители!</p>
                <p class="text__def">Информируем о том, что, концерт группы "Непара", запланированный к проведению 26.11.2024 г., перенесен на открытую дату. Новая дата концерта будет известна в ближайшее время. Все ранее купленные билеты будут действительны на новую дату мероприятия. Обменивать билеты не нужно.</p>
            </div>
            <p class="text__small">Дата публикации: 21 ноября 2024</p>
        </li>
        <li class="info__block_spec">
            <h2 class="title__small">Отмена концерта Алессандро Сафина</h2>
            <div class="text__block">
                <p class="text__def">Уважаемые зрители!</p>
                <p class="text__def">Концерт Алессандро Сафина, запланированный на 15 ноября 2024 г., отменен.</p>
            </div>
            <p class="text__small">Дата публикации: 13 ноября 2024</p>
        </li>
    </ul>
    <br><br>
    <div class="info__block_small">
        <h2>Пензенский драматический театр им. А.В. Луначарского</h2>
        <p>Адрес: г. Пенза, улица Московская, 89</p>
        <p>Телефон: +7 (8412) 56-30-46</p>
        <p>Нрафик работы: С 10:00 до 19:00 ч., ежедневно, без выходных</p>
    </div>
    <br><br>

    <script src="assets/js/main.js"></script>
</body>
</html>