.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px 20px;
}

.card__item {
    display: flex;
    flex-direction: column;
    max-width: 314px;
    width: 100%;

    &>.img__mask {
        max-width: inherit;
        height: 174px;
        overflow: hidden;
        display: flex;
        align-items: center;

        &>img {
            width: inherit;
            object-fit: cover;
            clip-path: url(#ticketMask);
        }
    }

    &>.main__content {
        position: relative;
        max-width: inherit;
        width: inherit;
        height: 286px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        border: 1px solid #C4C4C4;
        border-top: none;
        padding: 25px 25px 25px 25px;
        gap: 10px;

        &>.dashed-line-img {
            position: absolute;
            top: -5px;
            left: 0;
            z-index: 1;
        }

        &>.card_top__title {
            text-transform: uppercase;
            color: #A61E26;
            font-size: 14px;
        }

        &>.card_title {
            font-weight: 600;
            font-size: 18px;
            color: #000;
            margin-bottom: auto;
        }

        &>.card_place {
            font-size: 14px;
        }

        &>.date_time__block {
            display: flex;
            width: inherit;
            gap: 28px;
            margin-top: 15px;

            &>li {
                display: flex;
                gap: 10px;
                align-items: center;

                &>img {
                    width: 25px;
                    height: 25px;
                }

                &>p {
                    font-size: 16px;
                }
            }
        }

        &>.btn {
            margin: 15px auto 0 auto;
        }
    }
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #56040A;
    padding: 10px 40px;
    width: fit-content;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    transition: 0.3s;
    text-transform: uppercase;

    &:hover {
        background-color: #56040A;
        color: #fff;
    }

    &.btn__fill {
        background-color: #A61E26;
        border-color: #A61E26;
        color: #E8E8E8;
        text-transform: none;

        &:hover {
            background-color: transparent;
            color: #A61E26;
        }
    }
}

.info__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

.text__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text__def {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.text__small {
    font-size: 14px;
    font-weight: 400;
    color: #C4C4C4;
}

.title__small {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.title__def {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

.title__big {
    width: fit-content;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 600;
    color: #2C0E0E;
    text-transform: uppercase;

    &>span {
        color: #A61E26;
    }
}

.info__block_spec {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    padding: 25px;
    transition: 0.4s;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 0px 15px 2px transparent;
    gap: 25px;

    & .title__small {
        text-transform: uppercase;
    }

    & .text__def {
        font-size: 14px;
    }

    & .text__small {
        margin-top: auto;
    }

    &:hover {
        border-color: transparent;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
    }

    &:hover .title__small {
        color: #A61E26;
    }
}

.info__block_small {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &>h2 {
        font-size: 16px;
        font-weight: 600;
    }

    &>p {
        font-weight: 400;
        font-size: 16px;
    }
}

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 50px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;

    &.popup__success {
        /* z-index: 10;
        opacity: 1;
        visibility: visible; */

        & .popup__body {
            justify-content: center;
            align-items: center;
            gap: 25px;
            height: fit-content;
        }

        & img {
            width: 200px;
            height: 200px;
            margin-bottom: 75px;
        }

        & .title {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
        }
    }

    &.popup__orders {
        /* z-index: 10;
        opacity: 1;
        visibility: visible; */

        & .popup__body {
            gap: 25px;
            height: fit-content;
        }

        & input {
            border: none;
            outline: none;
            border: 1px solid transparent;
            padding: 25px;
            width: 100%;
            background-color: #FAFAF9;
            font-weight: 400;
            font-size: 16px;
            color: #000;

            &::placeholder {
                font-weight: 400;
                font-size: 16px;
                color: #C4C4C4;
            }

            &:focus{
                border-color: #000;
            }
        }

        & .title {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
        }

        & .btn{
            margin-left: auto;
            margin-top: 75px;
        }
    }

    &.active {
        z-index: 10;
        opacity: 1;
        visibility: visible;
    }

    &:not(.active) .shema__image {
        visibility: hidden !important;
        opacity: 0 !important;
    }

    &:not(.active) .popup__switch_block {
        visibility: hidden !important;
        opacity: 0 !important;
    }

    &>.over {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        z-index: 10;
        cursor: pointer;
        background-color: rgba(44, 14, 14, 0.5);
    }

    &>.popup__body {
        position: relative;
        max-width: 1066px;
        width: 100%;
        height: 100%;
        max-height: 994px;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        z-index: 11;
        padding: 50px;

        &>.close__popup_btn {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 24px;
            height: 24px;
            cursor: pointer;
            display: flex;

            & svg path {
                transition: 0.4s;
            }

            &:hover svg path {
                fill: #A61E26;
            }
        }

        &>.title {
            font-size: 20px;
            font-weight: 600;
            color: #000;
            margin-bottom: 25px;
        }

        &>p {
            font-size: 18px;
            font-weight: 400;
            color: #000;
            margin-bottom: 15px;
        }

        &>.place {
            margin-bottom: 50px;
        }

        &>.popup__nav {
            width: fit-content;
            display: flex;
            gap: 50px;
            margin-bottom: 50px;

            &>a {
                display: flex;
                font-weight: 600;
                font-size: 20px;
                text-transform: uppercase;
                transition: 0.4s;
                color: #000;
                width: fit-content;

                &.active {
                    color: #A61E26;
                }

                &:hover {
                    color: #A61E26;
                }
            }
        }

        &>.popup__switch_container {
            position: relative;
            width: 100%;
            height: 100%;

            &>.popup__switch_block {
                width: inherit;
                overflow-y: auto;
                position: absolute;
                z-index: 13;
                height: inherit;
                top: 0;
                left: 0;
                visibility: hidden;
                opacity: 0;
                transition: 0.2s;
                display: flex;
                flex-direction: column;

                &.active {
                    visibility: visible;
                    opacity: 1;
                }

                &>.list__ticket {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 100%;
                    margin-bottom: 50px;
                    height: inherit;
                    overflow-y: auto;

                    &>.ticket__item {
                        display: flex;
                        width: 100%;
                        padding: 15px 25px;
                        align-items: center;
                        background-color: #FAFAF9;

                        &>.ticket__title {
                            font-size: 18px;
                            font-weight: 600;
                            color: #171717;
                        }

                        &>.ticket__price {
                            margin-left: auto;
                            font-size: 16px;
                            font-weight: 400;
                            color: #000000;
                        }

                        &>.ticket__counter {
                            margin-left: 50px;
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            &>.counter__item {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                border-radius: 50%;
                                width: 37px;
                                height: 37px;
                                background-color: #A61E26;
                                transition: 0.3s;
                                cursor: pointer;

                                &:hover {
                                    background-color: #56040A;
                                }

                                &:active {
                                    background-color: #3f0004;
                                }

                                &.dis {
                                    background-color: #C4C4C4;

                                    &::before {
                                        display: none;
                                    }
                                }

                                &::after,
                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 2px;
                                    height: 15px;
                                    background-color: #fff;
                                }

                                &::after {
                                    transform: rotate(90deg);
                                }
                            }

                            &>.total__count {
                                font-size: 16px;
                                font-weight: 400;
                                color: #000;
                            }
                        }
                    }
                }

                &>.btn {
                    margin-left: auto;
                }
            }
        }
    }
}

.type_activity__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 25px 20px;
}